@model Product
@{
    var flagfrom = Model.CountryCode.ToLower();
    var flagto = Model.DestinationCountry.ToLower();

    var goingStr = string.Format("Coming To {0} in {1} days", Model.DestinationCountry.Replace("United States","USA"), Model.ShipDaysLeft);
    var title = Model.Title;
    if (title.Length > 25)
    {
        title = title.Substring(0, 25) + "...";
    }
}
<table class="ui red table">
	<thead>
		<tr>
			<th colspan="2">@title<br /><span class="right floated"><i class="@flagfrom flag" title="@flagfrom"></i> <i class="long arrow right icon"></i> <i class="@flagto flag" title="@flagto"></i> </span></th> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				<img class="ui fluid image" src="~/Content/products/@(Model.Id).jpg">
			@{
                if (Model.ShipDaysLeft < 4)
                {
                    <a class="ui red ribbon label">@goingStr</a>
                }
            }
                	
			</td>
		</tr>
		<tr>
			<td colspan="2">@Model.Desc.ToUpperInvariant()</td>
		</tr>
		<tr>
			<td>
				<a class="ui large blue ribbon label">$ @Model.UsdPrice</a>
			</td>
			<td>
				<a href="/home/productDetail/@(Model.Id)">
					<div class="ui olive vertical animated button right floated" tabindex="0">
						<div class="hidden content">Shop</div>
						<div class="visible content">
							<i class="shop icon"></i>
						</div>
					</div>
				</a>
			</td>
		</tr>
	</tbody>
</table>