@model IEnumerable<WishMaster.Service.Entities.Order>

@{
	 ViewBag.Title = "Order";
	 Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="ui celled table">
	<thead>
		<tr>
			<th>#</th>
			<th>Date</th>
			<th>Seller</th>
			<th>Product</th>
			<th>Days to ship</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Created.ToLongDateString()</td>
				<td><a href="@Url.Action("Profile", "User", new { id = item.SellerId })">@item.Seller.Nick</a></td>
				<td>@item.Product.Title</td>
				<td>@item.Product.DaysLeftStr(item.Product.ShipDaysLeft)</td>
			</tr>
		}
	</tbody>

</table>