@model HomePageModel
@{
	 ViewBag.Title = "Home Page";
	 var activeStr = Model.SelectedCategoryId == 0 ? "active" : "";
}

<div class="ui grid">
	<div class="sixteen wide column">
		<div class="ui orange eleven item menu">
			<a class="item @activeStr" href="?categoryId=0">
				Just Arrived!
			</a>
			@foreach (var category in Model.Categories.OrderBy(x => x.Id))
			{
				if (category.Id == 7 && category.Id == 6)
				{
					continue;
				}
				activeStr = category.Id == Model.SelectedCategoryId ? "active" : "";

				<a class="item @activeStr" href="?categoryId=@category.Id">
					@category.Name
				</a>
			}
		</div>
	</div> 

	<div class="twelve wide column">
		<div class="ui grid container">
			@foreach (var product in Model.Products)
			{
				<div class="four wide column">
					@Html.Partial("_product_list_display", product)
				</div>
			}
		</div>
	</div>
	<div class="four wide column">
		@Html.Partial("_top_users", Model.TopUsers)
		<div class="ui  segment">
			<img class="ui image" src="~/Content/banner.png" />
		</div>
	</div>
</div>
	